@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    <p><a href="https://localhost:5001/Health" src="CRUD">Click here for CRUD page</a></p>
}

<div class="text-center">
    <h1 class="display-4">Health & Disease Information</h1>
    <p>Current Time is :- (@DateTime.Now)</p>
</div>
